@forward './scss/01_settings/';
@forward './scss/02_tools/';

// Bring in settings and tools
@use './scss/01_settings/' as *;
@use './scss/02_tools' as *;

// Components
@use './scss/06_components/button';

// Default theme (light)
$current-theme: $theme-light;

// Apply theme variables
body {
  background: theme-color($current-theme, background);
  color: theme-color($current-theme, text);
}

// Dark mode override
[data-theme='dark'] {
  $current-theme: $theme-dark !global;

  body {
    background: theme-color($current-theme, background);
    color: theme-color($current-theme, text);
  }
}
