@import '01_settings/_colors';
@import '02_tools/_theme';
@import '06_components/_button';

// Default theme (light)
$current-theme: $theme-light;

// Apply theme variables
body {
  background: theme-color(background);
  color: theme-color(text);
}

// Dark mode override
[data-theme='dark'] {
  $current-theme: $theme-dark !global;

  body {
    background: theme-color(background);
    color: theme-color(text);
  }
}
