@use '../01_settings/_colors' as *;
@use '../01_settings/_radius' as *;

.button {
  padding: 0.5rem 1rem;
  border-radius: $radius-sm;
  font-weight: 600;
  cursor: pointer;

  &--primary {
    background: $green-500;
    color: #fff;
    &:hover {
      background: $green-700;
    }
    &:focus {
      background: $green-700;
    }
    &:disabled {
      background: $text-color-disabled;
      cursor: not-allowed;
    }
  }

  &--secondary {
    background: $color-secondary;
    color: #fff;
  }
}
